<form class="form row">
  <div class="form-group col-md-2">
    <!-- Nombre -->
    <input
      type="text"
      class="form-control"
      id="nombre"
      placeholder="Nombre"
      name="nombre"
      #nombreInput
    />
  </div>
  <div class="form-group col-md-2">
    <!-- Apellido -->
    <input
      type="text"
      class="form-control"
      id="apellido"
      placeholder="Apellido"
      name="Apellido"
      #apellidoInput
    />
  </div>
  <div class="col">
    <button
      type="submit"
      class="btn btn-primary"
      (click)="agregarPersona(nombreInput, apellidoInput)"
    >
      Agregar
    </button>
  </div>
</form>
